*{
	font-family: 'Lato', sans-serif;
}

.main {
	max-width: 960px;
	margin: 3.125% auto 3.125% auto;

}

header {
	border-bottom: 4px solid #BCBBBB;
	padding-bottom: 15px;
}

.branding {
	text-align: right;
	text-transform: uppercase;
	padding-right: .666666667%;
	color: #747704;
}

.logo {
	padding-right: 10px;
	margin: auto 0;
}

.name {
	font-size: 1.75em;
}

.name h1 {
	font-weight: 100;
	margin-bottom: 0;
}

.tagline {
	font-size: 1.33333334em;
}

.tagline h4 {
	font-weight: 300;
	margin: 0 0 5px;
}

#featured-image {
	margin: 30px 0;
}

#featured-work .title {
	color: #BCBBBB;
	font-size: 1.5em;
	padding-left: 10px;
}

#featured-work h2 {
	font-weight: 400;
	margin: 0 0 15px;
}

.grid-row {
	width: 102%;
	margin-left: -2%;
}

.project {
	padding-left: 2%;
	text-align: center;
}

.project .project-title {
	text-transform: uppercase;
	font-size: 1.5em;
	color: #747704;
}

.project .project-title h3 {
	margin: 5px 0;
}

.project .project-link a {
	font-weight: 100;
}

.project .project-link a, .project .project-link a:visited, .project .project-link a:focus {
	color: #747704;
}

.project .project-link a:hover {
	color: #F8981C;
}